<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-Starter</title>
</head>
<body>
    <h1>Welcome!</h1>
        {% if user.is_authenticated %}
        <ul>
            <li>
                <a class="nav-link js-scroll-trigger" href="/account">Welcome {{user.first_name}}</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
     {% else %}
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Become a member</a>
            </li>
        {% endif %}
        </ul>

</body>
</html>